<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="ç”°ä¸­æš">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../lib/sanitize.css">
        <link rel="stylesheet" type="text/css" href="../css/common.css?<%= cashClearQuery %>">
        <link rel="stylesheet" type="text/css" href="../css/<%= fileData.fileName %>.css?<%= cashClearQuery %>">
        <script type="text/javascript" src="../js/global.js"></script>
        <title><%= fileData.title %></title>
    </head>
    <body>
        <%- include('./header', {}) %>
        <%- include('./main/' + fileData.fileName, {}) %>
        <%- include('./footer', {}) %>
        <% if (fileData.js) {
            fileData.js.forEach(function (jsFile) {
        %>
            <script type="text/javascript" src="../js/<%= jsFile %>.js"></script>
        <% }); } %>
    </body>
</html>
